# model の重要度みる

In [10]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
%autoreload 2

import os
import sys
import json
import pickle

from numerapi import NumerAPI
from numerai_tools.scoring import numerai_corr, correlation_contribution

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from tqdm.auto import tqdm

from scipy.stats import kurtosis, skew

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.decomposition import IncrementalPCA

sys.path.append("../")

from src.eda import plot_feature_dist
from src.model import MLModel, LightGBMModel
from src.validation import caluculate_metrics
from src.featuring import feature_pca

In [12]:
class cfg:
    dataset_path = "../dataset/v5.0"
    feature_set = "medium"
    threshold_corr = 0.9
    exp = "eda_20250212"
    target_exp = "exp015"

os.makedirs(cfg.exp, exist_ok=True)

In [13]:
model = LightGBMModel()
model.load_model(os.path.join(cfg.target_exp, "model_0_target.pkl"))

In [14]:
df = pd.DataFrame({
    "feature": model.model.feature_name(),
    "score": model.model.feature_importance()
}).sort_values("score", ascending=False)

In [15]:
for i in range(len(df) // 5):
    
    display(df.head((i+1)*5).tail(5))

                                    feature  score
400                           per_era_count    384
42   feature_australian_unstigmatized_pasch    253
74        feature_cephalate_unfine_molality    237
56            feature_boggy_parthia_styrene    236
65            feature_burned_sortable_vicar    227

                                    feature  score
4   feature_acetose_crackerjack_needlecraft    220
44       feature_awash_reverberative_isatin    217
61  feature_brummagem_freckliest_papaverine    214
55  feature_blurred_divertible_desensitizer    207
70         feature_canine_umpteenth_bidding    196

                                         feature  score
37        feature_asyndetic_unwieldy_glossolalia    195
66                       feature_busy_clear_divi    195
16           feature_alarming_forenamed_shearing    194
68    feature_cabbalistic_unadmitted_ouagadougou    193
77  feature_chaste_disqualifying_intermodulation    189

                                          feature  score
46       feature_axile_complexioned_tartarization    187
60  feature_bronzy_thermoluminescent_extraversion    184
73               feature_celibate_wayworn_cosmism    184
53                   feature_binding_mexican_sunk    183
1               feature_ablest_inflexional_egeria    182

                                              feature  score
39  feature_atmospherical_undisciplinable_enterostomy    182
59                    feature_brittle_madagascar_peak    174
3             feature_accoutered_revolute_vexillology    172
58           feature_brickier_photosensitive_bodement    172
45                        feature_axial_solutrean_pry    171

                                      feature  score
41             feature_aulic_frayed_broomrape    167
35  feature_assessable_chiliastic_vacillation    166
75             feature_cervical_swell_tunisia    164
7                 feature_acrylic_gallic_wine    161
40    feature_auctionary_moderate_houseparent    160

                                   feature  score
34    feature_asphyxiating_gabbroitic_long    160
23   feature_anthracoid_tamable_consulship    160
78         feature_chattier_tight_academic    159
76        feature_champion_arabic_teetotum    159
63  feature_buprestid_apportioned_prodigal    158

                                   feature  score
47  feature_baculine_panoplied_aerobiology    158
15        feature_aired_temptable_murmansk    157
28     feature_approbatory_labroid_coracle    157
8          feature_adminicular_shod_levant    155
25  feature_antigenic_perforate_chickenpox    155

                                     feature  score
11           feature_advertent_deferent_kaif    155
32      feature_ascidian_unshaping_watchword    154
36  feature_assimilable_branching_baudelaire    154
20  feature_analogical_obstructed_martingale    153
5        feature_acheulian_conserving_output    153

                                     feature  score
26  feature_antiphlogistic_unharming_rallier    152
64            feature_burmese_sorbian_winnie    151
13           feature_afoul_drainable_cateran    150
9     feature_adorable_infernal_cartesianism    149
50       feature_bavarian_educible_fetishism    148

                                            feature  score
52               feature_beholden_ithyphallic_ankle    147
62               feature_bulgy_divorcive_enthusiast    144
79                   feature_cheeky_african_waikiki    144
21                 feature_anomic_isocyclic_absinth    142
24  feature_antidepressant_rationalistic_adaptation    141

                                          feature  score
51              feature_beaten_sensitive_curricle    141
14             feature_agamid_yuletide_physiology    140
0                      feature_able_deprived_nona    139
38             feature_atherine_hellish_etymology    139
22  feature_antediluvian_establishmentarian_zebra    139

                                        feature  score
49            feature_barkier_lackluster_hunker    138
69          feature_calendrical_dextral_tantrum    136
10  feature_adorable_unsuitable_cholecystectomy    136
54      feature_biosystematic_apogeotropic_itch    135
17         feature_aliunde_unhaunted_coacervate    133

                                     feature  score
33           feature_aseptic_eely_hemiplegia    133
31       feature_ascendible_nonracial_woofer    133
30   feature_aryballoid_croupiest_brightwork    131
18      feature_altern_packaged_presbyterian    129
57  feature_bombproof_shockable_detumescence    128

                                        feature  score
6         feature_acronychal_bilobate_stevenage    128
67         feature_cabalistic_armed_overpayment    127
27       feature_appraising_chasmogamic_picrate    125
2          feature_absorbable_hyperalgesic_mode    125
71  feature_canonistic_disallowable_counterbore    124

                                          feature  score
43                  feature_avulsed_oolitic_dirac    123
12         feature_aeneolithic_nineteenth_whipper    120
19          feature_analgesic_pensionary_exterior    120
48            feature_balustered_ornamental_pooch    118
72  feature_catechetical_paragogical_accouterment    115

                                               feature  score
29                     feature_arizonian_orphan_accord    113
391  per_era_std_feature_chaste_disqualifying_inter...    109
103    per_era_std_feature_acheulian_conserving_output     67
389  per_era_max_feature_chaste_disqualifying_inter...     60
111            per_era_std_feature_acrylic_gallic_wine     50

                                               feature  score
101    per_era_max_feature_acheulian_conserving_output     48
80             per_era_mean_feature_able_deprived_nona     40
102    per_era_min_feature_acheulian_conserving_output     39
390  per_era_min_feature_chaste_disqualifying_inter...     39
299  per_era_std_feature_biosystematic_apogeotropic...     39

                                           feature  score
83          per_era_std_feature_able_deprived_nona     37
399     per_era_std_feature_cheeky_african_waikiki     34
166   per_era_min_feature_anomic_isocyclic_absinth     34
375   per_era_std_feature_celibate_wayworn_cosmism     34
87   per_era_std_feature_ablest_inflexional_egeria     32

                                               feature  score
100   per_era_mean_feature_acheulian_conserving_output     31
84      per_era_mean_feature_ablest_inflexional_egeria     30
167       per_era_std_feature_anomic_isocyclic_absinth     29
143       per_era_std_feature_aired_temptable_murmansk     28
99   per_era_std_feature_acetose_crackerjack_needle...     28

                                               feature  score
92   per_era_mean_feature_accoutered_revolute_vexil...     27
187  per_era_std_feature_antiphlogistic_unharming_r...     27
247         per_era_std_feature_aulic_frayed_broomrape     26
95   per_era_std_feature_accoutered_revolute_vexill...     26
339         per_era_std_feature_burmese_sorbian_winnie     25

                                               feature  score
223  per_era_std_feature_assessable_chiliastic_vaci...     25
379      per_era_std_feature_cephalate_unfine_molality     23
91    per_era_std_feature_absorbable_hyperalgesic_mode     22
88   per_era_mean_feature_absorbable_hyperalgesic_mode     22
165       per_era_max_feature_anomic_isocyclic_absinth     22

                                               feature  score
239  per_era_std_feature_atmospherical_undisciplina...     22
110            per_era_min_feature_acrylic_gallic_wine     22
109            per_era_max_feature_acrylic_gallic_wine     22
96   per_era_mean_feature_acetose_crackerjack_needl...     22
184  per_era_mean_feature_antiphlogistic_unharming_...     21

                                               feature  score
227  per_era_std_feature_assimilable_branching_baud...     21
314  per_era_min_feature_brickier_photosensitive_bo...     20
141       per_era_max_feature_aired_temptable_murmansk     20
124       per_era_mean_feature_advertent_deferent_kaif     20
235     per_era_std_feature_atherine_hellish_etymology     19

                                               feature  score
397         per_era_max_feature_cheeky_african_waikiki     19
315  per_era_std_feature_brickier_photosensitive_bo...     19
131  per_era_std_feature_aeneolithic_nineteenth_whi...     19
221  per_era_max_feature_assessable_chiliastic_vaci...     18
107  per_era_std_feature_acronychal_bilobate_stevenage     18

                                               feature  score
120  per_era_mean_feature_adorable_unsuitable_chole...     18
104  per_era_mean_feature_acronychal_bilobate_steve...     17
135        per_era_std_feature_afoul_drainable_cateran     16
225  per_era_max_feature_assimilable_branching_baud...     16
340         per_era_mean_feature_burned_sortable_vicar     16

                                               feature  score
86       per_era_min_feature_ablest_inflexional_egeria     15
313  per_era_max_feature_brickier_photosensitive_bo...     15
246         per_era_min_feature_aulic_frayed_broomrape     14
245         per_era_max_feature_aulic_frayed_broomrape     14
142       per_era_min_feature_aired_temptable_murmansk     14

                                               feature  score
168  per_era_mean_feature_antediluvian_establishmen...     14
396        per_era_mean_feature_cheeky_african_waikiki     14
222  per_era_min_feature_assessable_chiliastic_vaci...     14
112       per_era_mean_feature_adminicular_shod_levant     14
373       per_era_max_feature_celibate_wayworn_cosmism     14

                                               feature  score
232    per_era_mean_feature_atherine_hellish_etymology     13
298  per_era_min_feature_biosystematic_apogeotropic...     13
116  per_era_mean_feature_adorable_infernal_cartesi...     13
119  per_era_std_feature_adorable_infernal_cartesia...     13
237  per_era_max_feature_atmospherical_undisciplina...     12

                                               feature  score
85       per_era_max_feature_ablest_inflexional_egeria     12
377      per_era_max_feature_cephalate_unfine_molality     12
238  per_era_min_feature_atmospherical_undisciplina...     12
374       per_era_min_feature_celibate_wayworn_cosmism     12
226  per_era_min_feature_assimilable_branching_baud...     12

                                               feature  score
338         per_era_min_feature_burmese_sorbian_winnie     12
372      per_era_mean_feature_celibate_wayworn_cosmism     11
123  per_era_std_feature_adorable_unsuitable_cholec...     11
272   per_era_mean_feature_balustered_ornamental_pooch     11
343          per_era_std_feature_burned_sortable_vicar     11

                                               feature  score
342          per_era_min_feature_burned_sortable_vicar     11
144   per_era_mean_feature_alarming_forenamed_shearing     11
303  per_era_std_feature_blurred_divertible_desensi...     10
140      per_era_mean_feature_aired_temptable_murmansk     10
132       per_era_mean_feature_afoul_drainable_cateran     10

                                               feature  score
287      per_era_std_feature_beaten_sensitive_curricle     10
297  per_era_max_feature_biosystematic_apogeotropic...     10
376     per_era_mean_feature_cephalate_unfine_molality     10
108           per_era_mean_feature_acrylic_gallic_wine     10
337         per_era_max_feature_burmese_sorbian_winnie     10

                                               feature  score
398         per_era_min_feature_cheeky_african_waikiki     10
284     per_era_mean_feature_beaten_sensitive_curricle      9
179  per_era_std_feature_antidepressant_rationalist...      8
186  per_era_min_feature_antiphlogistic_unharming_r...      8
255          per_era_std_feature_avulsed_oolitic_dirac      8

                                               feature  score
275    per_era_std_feature_balustered_ornamental_pooch      8
195    per_era_std_feature_approbatory_labroid_coracle      8
274    per_era_min_feature_balustered_ornamental_pooch      8
220  per_era_mean_feature_assessable_chiliastic_vac...      8
378      per_era_min_feature_cephalate_unfine_molality      8

                                               feature  score
296  per_era_mean_feature_biosystematic_apogeotropi...      8
312  per_era_mean_feature_brickier_photosensitive_b...      7
252         per_era_mean_feature_avulsed_oolitic_dirac      7
176  per_era_mean_feature_antidepressant_rationalis...      7
115        per_era_std_feature_adminicular_shod_levant      7

                                               feature  score
164      per_era_mean_feature_anomic_isocyclic_absinth      7
244        per_era_mean_feature_aulic_frayed_broomrape      7
183  per_era_std_feature_antigenic_perforate_chicke...      7
148  per_era_mean_feature_aliunde_unhaunted_coacervate      7
151   per_era_std_feature_aliunde_unhaunted_coacervate      6

                                               feature  score
300  per_era_mean_feature_blurred_divertible_desens...      6
204   per_era_mean_feature_ascendible_nonracial_woofer      6
341          per_era_max_feature_burned_sortable_vicar      6
160  per_era_mean_feature_analogical_obstructed_mar...      6
185  per_era_max_feature_antiphlogistic_unharming_r...      6

                                               feature  score
127        per_era_std_feature_advertent_deferent_kaif      6
254          per_era_min_feature_avulsed_oolitic_dirac      6
128  per_era_mean_feature_aeneolithic_nineteenth_wh...      5
219   per_era_std_feature_asphyxiating_gabbroitic_long      5
336        per_era_mean_feature_burmese_sorbian_winnie      5

                                               feature  score
234     per_era_min_feature_atherine_hellish_etymology      5
224  per_era_mean_feature_assimilable_branching_bau...      5
302  per_era_min_feature_blurred_divertible_desensi...      5
136    per_era_mean_feature_agamid_yuletide_physiology      5
152  per_era_mean_feature_altern_packaged_presbyterian      5

                                               feature  score
156  per_era_mean_feature_analgesic_pensionary_exte...      5
171  per_era_std_feature_antediluvian_establishment...      5
273    per_era_max_feature_balustered_ornamental_pooch      4
253          per_era_max_feature_avulsed_oolitic_dirac      4
268  per_era_mean_feature_baculine_panoplied_aerobi...      4

                                               feature  score
212       per_era_mean_feature_aseptic_eely_hemiplegia      4
388  per_era_mean_feature_chaste_disqualifying_inte...      4
328    per_era_mean_feature_bulgy_divorcive_enthusiast      3
231  per_era_std_feature_asyndetic_unwieldy_glossol...      3
248  per_era_mean_feature_australian_unstigmatized_...      3

                                               feature  score
228  per_era_mean_feature_asyndetic_unwieldy_glosso...      3
292          per_era_mean_feature_binding_mexican_sunk      3
286      per_era_min_feature_beaten_sensitive_curricle      3
285      per_era_max_feature_beaten_sensitive_curricle      3
283    per_era_std_feature_bavarian_educible_fetishism      3

                                               feature  score
200  per_era_mean_feature_aryballoid_croupiest_brig...      3
175  per_era_std_feature_anthracoid_tamable_consulship      3
163  per_era_std_feature_analogical_obstructed_mart...      3
207    per_era_std_feature_ascendible_nonracial_woofer      3
139     per_era_std_feature_agamid_yuletide_physiology      2

                                               feature  score
172  per_era_mean_feature_anthracoid_tamable_consul...      2
288    per_era_mean_feature_beholden_ithyphallic_ankle      2
191  per_era_std_feature_appraising_chasmogamic_pic...      2
196       per_era_mean_feature_arizonian_orphan_accord      2
236  per_era_mean_feature_atmospherical_undisciplin...      2

                                               feature  score
199        per_era_std_feature_arizonian_orphan_accord      2
233     per_era_max_feature_atherine_hellish_etymology      2
332  per_era_mean_feature_buprestid_apportioned_pro...      2
155   per_era_std_feature_altern_packaged_presbyterian      2
323  per_era_std_feature_bronzy_thermoluminescent_e...      2

                                               feature  score
147    per_era_std_feature_alarming_forenamed_shearing      2
308  per_era_mean_feature_bombproof_shockable_detum...      1
240  per_era_mean_feature_auctionary_moderate_house...      1
180  per_era_mean_feature_antigenic_perforate_chick...      1
291     per_era_std_feature_beholden_ithyphallic_ankle      1

                                               feature  score
159  per_era_std_feature_analgesic_pensionary_exterior      1
267  per_era_std_feature_axile_complexioned_tartari...      1
301  per_era_max_feature_blurred_divertible_desensi...      1
279      per_era_std_feature_barkier_lackluster_hunker      1
243  per_era_std_feature_auctionary_moderate_housep...      1

                                               feature  score
344               per_era_mean_feature_busy_clear_divi      1
331     per_era_std_feature_bulgy_divorcive_enthusiast      1
311  per_era_std_feature_bombproof_shockable_detume...      1
271  per_era_std_feature_baculine_panoplied_aerobio...      1
327  per_era_std_feature_brummagem_freckliest_papav...      1

                                               feature  score
211   per_era_std_feature_ascidian_unshaping_watchword      1
348  per_era_mean_feature_cabalistic_armed_overpayment      0
346                per_era_min_feature_busy_clear_divi      0
347                per_era_std_feature_busy_clear_divi      0
352  per_era_mean_feature_cabbalistic_unadmitted_ou...      0

                                               feature  score
354  per_era_min_feature_cabbalistic_unadmitted_oua...      0
349   per_era_max_feature_cabalistic_armed_overpayment      0
350   per_era_min_feature_cabalistic_armed_overpayment      0
351   per_era_std_feature_cabalistic_armed_overpayment      0
324  per_era_mean_feature_brummagem_freckliest_papa...      0

                                               feature  score
353  per_era_max_feature_cabbalistic_unadmitted_oua...      0
322  per_era_min_feature_bronzy_thermoluminescent_e...      0
329     per_era_max_feature_bulgy_divorcive_enthusiast      0
345                per_era_max_feature_busy_clear_divi      0
125        per_era_max_feature_advertent_deferent_kaif      0

                                               feature  score
126        per_era_min_feature_advertent_deferent_kaif      0
330     per_era_min_feature_bulgy_divorcive_enthusiast      0
130  per_era_min_feature_aeneolithic_nineteenth_whi...      0
133        per_era_max_feature_afoul_drainable_cateran      0
134        per_era_min_feature_afoul_drainable_cateran      0

                                               feature  score
325  per_era_max_feature_brummagem_freckliest_papav...      0
355  per_era_std_feature_cabbalistic_unadmitted_oua...      0
137     per_era_max_feature_agamid_yuletide_physiology      0
138     per_era_min_feature_agamid_yuletide_physiology      0
335  per_era_std_feature_buprestid_apportioned_prod...      0

                                               feature  score
334  per_era_min_feature_buprestid_apportioned_prod...      0
326  per_era_min_feature_brummagem_freckliest_papav...      0
333  per_era_max_feature_buprestid_apportioned_prod...      0
129  per_era_max_feature_aeneolithic_nineteenth_whi...      0
360      per_era_mean_feature_canine_umpteenth_bidding      0

                                               feature  score
356   per_era_mean_feature_calendrical_dextral_tantrum      0
105  per_era_max_feature_acronychal_bilobate_stevenage      0
381         per_era_max_feature_cervical_swell_tunisia      0
382         per_era_min_feature_cervical_swell_tunisia      0
383         per_era_std_feature_cervical_swell_tunisia      0

                                               feature  score
384      per_era_mean_feature_champion_arabic_teetotum      0
385       per_era_max_feature_champion_arabic_teetotum      0
386       per_era_min_feature_champion_arabic_teetotum      0
387       per_era_std_feature_champion_arabic_teetotum      0
98   per_era_min_feature_acetose_crackerjack_needle...      0

                                               feature  score
97   per_era_max_feature_acetose_crackerjack_needle...      0
94   per_era_min_feature_accoutered_revolute_vexill...      0
93   per_era_max_feature_accoutered_revolute_vexill...      0
392       per_era_mean_feature_chattier_tight_academic      0
393        per_era_max_feature_chattier_tight_academic      0

                                              feature  score
394       per_era_min_feature_chattier_tight_academic      0
395       per_era_std_feature_chattier_tight_academic      0
90   per_era_min_feature_absorbable_hyperalgesic_mode      0
89   per_era_max_feature_absorbable_hyperalgesic_mode      0
82             per_era_min_feature_able_deprived_nona      0

                                               feature  score
81              per_era_max_feature_able_deprived_nona      0
380        per_era_mean_feature_cervical_swell_tunisia      0
106  per_era_min_feature_acronychal_bilobate_stevenage      0
357    per_era_max_feature_calendrical_dextral_tantrum      0
113        per_era_max_feature_adminicular_shod_levant      0

                                               feature  score
358    per_era_min_feature_calendrical_dextral_tantrum      0
359    per_era_std_feature_calendrical_dextral_tantrum      0
320  per_era_mean_feature_bronzy_thermoluminescent_...      0
361       per_era_max_feature_canine_umpteenth_bidding      0
362       per_era_min_feature_canine_umpteenth_bidding      0

                                               feature  score
363       per_era_std_feature_canine_umpteenth_bidding      0
364  per_era_mean_feature_canonistic_disallowable_c...      0
365  per_era_max_feature_canonistic_disallowable_co...      0
366  per_era_min_feature_canonistic_disallowable_co...      0
367  per_era_std_feature_canonistic_disallowable_co...      0

                                               feature  score
368  per_era_mean_feature_catechetical_paragogical_...      0
369  per_era_max_feature_catechetical_paragogical_a...      0
370  per_era_min_feature_catechetical_paragogical_a...      0
371  per_era_std_feature_catechetical_paragogical_a...      0
122  per_era_min_feature_adorable_unsuitable_cholec...      0

                                               feature  score
121  per_era_max_feature_adorable_unsuitable_cholec...      0
118  per_era_min_feature_adorable_infernal_cartesia...      0
117  per_era_max_feature_adorable_infernal_cartesia...      0
114        per_era_min_feature_adminicular_shod_levant      0
321  per_era_max_feature_bronzy_thermoluminescent_e...      0

                                               feature  score
216  per_era_mean_feature_asphyxiating_gabbroitic_long      0
319        per_era_std_feature_brittle_madagascar_peak      0
318        per_era_min_feature_brittle_madagascar_peak      0
190  per_era_min_feature_appraising_chasmogamic_pic...      0
189  per_era_max_feature_appraising_chasmogamic_pic...      0

                                               feature  score
249  per_era_max_feature_australian_unstigmatized_p...      0
250  per_era_min_feature_australian_unstigmatized_p...      0
251  per_era_std_feature_australian_unstigmatized_p...      0
188  per_era_mean_feature_appraising_chasmogamic_pi...      0
182  per_era_min_feature_antigenic_perforate_chicke...      0

                                               feature  score
181  per_era_max_feature_antigenic_perforate_chicke...      0
256    per_era_mean_feature_awash_reverberative_isatin      0
257     per_era_max_feature_awash_reverberative_isatin      0
258     per_era_min_feature_awash_reverberative_isatin      0
259     per_era_std_feature_awash_reverberative_isatin      0

                                               feature  score
260           per_era_mean_feature_axial_solutrean_pry      0
261            per_era_max_feature_axial_solutrean_pry      0
262            per_era_min_feature_axial_solutrean_pry      0
263            per_era_std_feature_axial_solutrean_pry      0
264  per_era_mean_feature_axile_complexioned_tartar...      0

                                               feature  score
192   per_era_mean_feature_approbatory_labroid_coracle      0
193    per_era_max_feature_approbatory_labroid_coracle      0
242  per_era_min_feature_auctionary_moderate_housep...      0
206    per_era_min_feature_ascendible_nonracial_woofer      0
218   per_era_min_feature_asphyxiating_gabbroitic_long      0

                                              feature  score
215       per_era_std_feature_aseptic_eely_hemiplegia      0
214       per_era_min_feature_aseptic_eely_hemiplegia      0
213       per_era_max_feature_aseptic_eely_hemiplegia      0
210  per_era_min_feature_ascidian_unshaping_watchword      0
209  per_era_max_feature_ascidian_unshaping_watchword      0

                                               feature  score
208  per_era_mean_feature_ascidian_unshaping_watchword      0
205    per_era_max_feature_ascendible_nonracial_woofer      0
241  per_era_max_feature_auctionary_moderate_housep...      0
203  per_era_std_feature_aryballoid_croupiest_brigh...      0
230  per_era_min_feature_asyndetic_unwieldy_glossol...      0

                                               feature  score
202  per_era_min_feature_aryballoid_croupiest_brigh...      0
201  per_era_max_feature_aryballoid_croupiest_brigh...      0
198        per_era_min_feature_arizonian_orphan_accord      0
197        per_era_max_feature_arizonian_orphan_accord      0
194    per_era_min_feature_approbatory_labroid_coracle      0

                                               feature  score
265  per_era_max_feature_axile_complexioned_tartari...      0
266  per_era_min_feature_axile_complexioned_tartari...      0
178  per_era_min_feature_antidepressant_rationalist...      0
307          per_era_std_feature_boggy_parthia_styrene      0
157  per_era_max_feature_analgesic_pensionary_exterior      0

                                              feature  score
154  per_era_min_feature_altern_packaged_presbyterian      0
153  per_era_max_feature_altern_packaged_presbyterian      0
150  per_era_min_feature_aliunde_unhaunted_coacervate      0
304        per_era_mean_feature_boggy_parthia_styrene      0
305         per_era_max_feature_boggy_parthia_styrene      0

                                               feature  score
306          per_era_min_feature_boggy_parthia_styrene      0
217   per_era_max_feature_asphyxiating_gabbroitic_long      0
295           per_era_std_feature_binding_mexican_sunk      0
309  per_era_max_feature_bombproof_shockable_detume...      0
310  per_era_min_feature_bombproof_shockable_detume...      0

                                              feature  score
149  per_era_max_feature_aliunde_unhaunted_coacervate      0
146   per_era_min_feature_alarming_forenamed_shearing      0
145   per_era_max_feature_alarming_forenamed_shearing      0
316      per_era_mean_feature_brittle_madagascar_peak      0
317       per_era_max_feature_brittle_madagascar_peak      0

                                               feature  score
158  per_era_min_feature_analgesic_pensionary_exterior      0
294           per_era_min_feature_binding_mexican_sunk      0
269  per_era_max_feature_baculine_panoplied_aerobio...      0
280   per_era_mean_feature_bavarian_educible_fetishism      0
270  per_era_min_feature_baculine_panoplied_aerobio...      0

                                               feature  score
177  per_era_max_feature_antidepressant_rationalist...      0
174  per_era_min_feature_anthracoid_tamable_consulship      0
173  per_era_max_feature_anthracoid_tamable_consulship      0
276     per_era_mean_feature_barkier_lackluster_hunker      0
277      per_era_max_feature_barkier_lackluster_hunker      0

                                               feature  score
278      per_era_min_feature_barkier_lackluster_hunker      0
281    per_era_max_feature_bavarian_educible_fetishism      0
293           per_era_max_feature_binding_mexican_sunk      0
282    per_era_min_feature_bavarian_educible_fetishism      0
170  per_era_min_feature_antediluvian_establishment...      0

                                               feature  score
169  per_era_max_feature_antediluvian_establishment...      0
162  per_era_min_feature_analogical_obstructed_mart...      0
289     per_era_max_feature_beholden_ithyphallic_ankle      0
290     per_era_min_feature_beholden_ithyphallic_ankle      0
161  per_era_max_feature_analogical_obstructed_mart...      0